.navbar {
    border-bottom: 2px solid white;
}
.navbarnav  {
    font-size: 15px;

}
.jumbotron {
    background: url(https://st.redbus.in/Images/webplatform/india/Hero-Image-BG-02.png);
    width: 100%;
    background-size: cover;
    height: 450px;
    border-radius: 0;
}
.jumbotron>article .justify-content-center {
    position: relative;
    top: 164px;
}